.login-container {
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    background-color: aqua;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 50%;
    padding: 84px 25px;
    padding: 10px;
    border-radius: 10px;
    background-color: aliceblue;
}
.login-form h1{
    text-align: center;
}
.login-form .label {
    display: block;
    margin: 10px 0;
}
.danger-text{
    color: red;
}
.login-form .label .label-text {
    font-size: 25px;
}

.login-form .input {
    width: 100%;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 8px;
}

.login-btn {
    width: 100%;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
.login-form .forget , .create{
    margin: 10px 10px;
    cursor: pointer;
    font-size: 19px;
    display: inline-block;
}