.nav-container{
    height: 80px;
    width: 100%;
    padding: 0 10px;
    background-color: #20598e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-container img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.link {
    display: flex;
}
.link ul li{
    list-style-type: none;
}
.link ul li a{
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 1.5rem;
}
.signout-btn{
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}